*,
*::before,
*::after {
  box-sizing: border-box;
}  
body {
  background: linear-gradient(to bottom, aqua, blue);  
  min-height: 100vh;
  margin-bottom: 25%;
}
.title {
  text-align:center;
  font-family: 'Bungee Shade'; 
}
.required::before{
  content: '*'; 
}
.description{
  margin: auto;
  width: 75vw; 
  padding-top: 10px; 
  padding-bottom: 30px; 
  text-align: center;
  
}
.survey-form {
  background-color: skyblue;    
  text-align: center; 
  margin: auto; 
  width: 65vw;  
  border: 5px solid red; 
  box-shadow: 2px 5px 18px 20px orange; 
  padding: 15px;  
}
label {
  display: block;
}
#name {
  margin: 10px; 
}
#email {
  margin: 10px; 
}
#number {
  margin: 10px; 
  min-width: 25vw; 
}
#dropdown {
  margin: 10px; 

}
#genders label{
  padding: 5px; 
  display: block;
}
#acoustic {
  float: initial; 
  padding-top: 15px; 
  padding-bottom: 5px; 
}
#electric {
  float: initial; 
  padding-top: 15px;
  padding-bottom: 5px; 

}
textarea {
  margin-top: 15px; 
  margin-bottom: 15px;   
  height: 55px; 
}
#submit {
  background: lightgreen; 
  cursor: pointer;
  padding: 5px; 
  margin-top: 5px; 
  margin-bottom: 5px; 

}
@media only screen and (min-width: 1024px) {
  .survey-form {
    width: 17vw;
  }
  #number {
    min-width: 50px;
  }
}
